/* BODY */
body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
/*************************************************************/

/* Light Style de la letra roboto */
.roboto_light{
    font-weight: 300;
}

/* Regular Style de la letra roboto */
.roboto_regular{
    font-weight: 400;
}

/* Medium Style de la letra roboto */
.roboto_medium{
    font-weight: 500;
}

/* HEADER */
#bg-header{
    /* border: solid 4px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../image/bg-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    color: rgb(226, 224, 69);
}

header{
    margin-top: 3.7rem;
}

header div{
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

/* tag párrafo interno del header */
header p{
    font-size: xx-large;
    margin: 0;
}

/*************************************************************/

/* SECTION ACERCA DE MI */
#acerca-de-mi{
    /* border: solid 2px red; */
    padding-top: 2rem;
    width: 75%;
}

/* Prevenir que una palabra se salga de su contenedor */
.break-word
{
    /* border: solid 2px blue; */
    word-break: break-all;
    /* hyphens: auto; */
}
/*************************************************************/

/* SECTION ESTUDIOS */
#estudios{
    /* border: solid 2px green; */
    padding-top: 2rem;
    background-image: url(../image/bg-header.webp);
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    color: rgb(226, 224, 69);
    width: 75%;
    border-radius: 25px;
}

section ul{
    padding: 0;
    color: rgb(226, 224, 69);
}

section hr{
    width: 90%;
    background-color:rgb(226, 224, 69);
    border-color:rgb(226, 224, 69);
    margin:auto;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*************************************************************/

/* SECTION MIS PROYECTOS */
#mis-proyectos{
    /* border: solid 2px blueviolet; */
    width: 75%;
}

.card-body-bg{
    background-image: url(../image/bg-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(226, 224, 69);
}

.btn-color{
    background-color: rgb(226, 224, 69);;
}
/*************************************************************/

/* SECTION CONTACTO */
#contacto{
    /* border: solid 2px chocolate; */
    display: flex;
    flex-direction: column;
    width: 75%;
    background-image: url(../image/bg-header.webp);
    background-size: cover;
    background-position: center;
    color: rgb(226, 224, 69);
    border-radius: 25px;
    align-items: center;
}
/*************************************************************/

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.box-redes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    width: 75%;

}

.link-color{
    color: white;
}

.link-style:hover{
    color: cadetblue;
}
/*************************************************************/