/* BODY */
body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
/*************************************************************/

/* Light Style de la letra roboto */
.roboto_light{
    font-weight: 300;
}

/* Regular Style de la letra roboto */
.roboto_regular{
    font-weight: 400;
}

/* Medium Style de la letra roboto */
.roboto_medium{
    font-weight: 500;
}

/* HEADER */
#bg-header{
    /* border: solid 4px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../image/bg-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    color: rgb(224, 221, 9);
}

header{
    margin-top: 3.7rem;
}

header div{
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

/* tag párrafo interno del header */
header p{
    font-size: xx-large;
    margin: 0;
}

/*************************************************************/

/* SECTION ACERCA DE MI */
#acerca-de-mi{
    padding-top: 2rem;
}